version: '3.8'

services:
  app:
    build:
      context: .
    volumes:
      - .:/app
    command: tail -f /dev/null

  redmine:
    image: redmine:latest
    ports:
      - "8088:3000"
    environment:
      - REDMINE_DB_POSTGRES=postgres
      - REDMINE_DB_USERNAME=redmine
      - REDMINE_DB_PASSWORD=password
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:latest
    environment:
      - POSTGRES_USER=redmine
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=redmine
    volumes:
      - redmine-postgres:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U redmine"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  redmine-postgres:
