services:
    # Manual definition of Redmine Client
    Redmine\Client\Psr18Client:
        arguments:
            $httpClient: '@Psr\Http\Client\ClientInterface'
            $requestFactory: '@Psr\Http\Message\RequestFactoryInterface'
            $streamFactory: '@Psr\Http\Message\StreamFactoryInterface'
            $url: '%redmine.url%'
            $apikeyOrUsername: '%redmine.api_key%'

    # Manual definition of App services

    # WorksheetTableParser for WBS Development sheet
    App\Common\ExcelParser\WorksheetTableParser\Structures\WbsDevelopmentStructure: ~
    ExcelParser.WorksheetTableParser.WbsDevelopmentParser:
        class: App\Common\ExcelParser\WorksheetTableParser\WorksheetTableParser
        arguments:
            - '@App\Common\ExcelParser\WorksheetTableParser\Structures\WbsDevelopmentStructure'

    # Alias for default ExcelParser.WorksheetTableParser implementation
    App\Common\ExcelParser\WorksheetTableParser\WorksheetTableParser: '@ExcelParser.WorksheetTableParser.WbsDevelopmentParser'

    App\TaskUploader\Service\RedmineService:
        arguments:
            - '@Redmine\Client\Psr18Client'

    App\TaskUploader\Command\UploadTasksCommand:
        public: true # Must be public for bin/cli
        arguments:
            - '@App\TaskUploader\Service\RedmineService'
            - '@App\Common\ExcelParser\WorksheetTableParser\WorksheetTableParser'