services:
    # Manual definition of Redmine Client
    Redmine\Client\Psr18Client:
        arguments:
            $httpClient: '@Psr\Http\Client\ClientInterface'
            $requestFactory: '@Psr\Http\Message\RequestFactoryInterface'
            $streamFactory: '@Psr\Http\Message\StreamFactoryInterface'
            $url: '%redmine.url%'
            $apikeyOrUsername: '%redmine.api_key%'

    # Manual definition of App services

    # WorksheetTableParser for WBS Development sheet
    App\TaskUploader\Parser\WbsParser: ~

    App\TaskUploader\Service\RedmineService:
        arguments:
            - '@Redmine\Client\Psr18Client'

    App\TaskUploader\TaskUploaderFacade:
        autowire: true
        autoconfigure: true

    App\TaskUploader\Command\UploadTasksCommand:
        public: true # Must be public for bin/cli
        autowire: true
        autoconfigure: true
#        arguments:
#            - '@App\TaskUploader\Service\RedmineService'
#            - '@App\Common\ExcelParser\WbsParser\WbsParser'