imports:
  - { resource: 'parameters.yaml' }

services:
    _defaults:
        autowire: true
        autoconfigure: true

    # Manual definition of Redmine Client
    Redmine\Client\Psr18Client:
        arguments:
            $httpClient: '@Psr\Http\Client\ClientInterface'
            $requestFactory: '@Psr\Http\Message\RequestFactoryInterface'
            $streamFactory: '@Psr\Http\Message\StreamFactoryInterface'
            $url: '%redmine.url%'
            $apikeyOrUsername: '%redmine.api_key%'

    # Redmine API Service
    App\TaskUploader\Redmine\RedmineService: ~

    # Task Uploader Facade
    App\TaskUploader\TaskUploaderFacade: ~

    # WBS Column structure definition
    App\TaskUploader\Parser\WbsColumnDefinition:
        arguments:
            $columnDefinition: '%wbs.column_definition%'
            $columnIdentifiers: '%wbs.column_identifiers%'

    # WBS spreadsheet parser
    WBSParser:
        class: 'App\Common\ExcelParser\WorksheetTableParser'
        arguments:
            $worksheetName: '%wbs.spreadsheet_name%'
            $dynamicColumns: '@App\TaskUploader\Parser\WbsColumnDefinition'

    # Command
    App\TaskUploader\UploadTasksCommand:
        public: true # Must be public for bin/cli
        arguments:
            $parser: '@WBSParser'
            $defaultTracker: '%redmine.default.tracker%'
            $defaultStatus: '%redmine.default.status%'
            $defaultPriority: '%redmine.default.priority%'