imports:
  - { resource: 'parameters.yaml' }

services:
    _defaults:
        autowire: true
        autoconfigure: true

    # Manual definition of Redmine Client
    Redmine\Client\Psr18Client:
        arguments:
            $httpClient: '@Psr\Http\Client\ClientInterface'
            $requestFactory: '@Psr\Http\Message\RequestFactoryInterface'
            $streamFactory: '@Psr\Http\Message\StreamFactoryInterface'
            $url: '%redmine.url%'
            $apikeyOrUsername: '%redmine.api_key%'

    # WorksheetTableParser for WBS Development sheet
    App\TaskUploader\Parser\WbsParser: ~

    # Redmine API Service
    App\TaskUploader\Service\RedmineService: ~

    # Task Uploader Facade
    App\TaskUploader\TaskUploaderFacade: ~

    # Command
    App\TaskUploader\Command\UploadTasksCommand:
        public: true # Must be public for bin/cli
        arguments:
            $defaultTracker: '%redmine.default.tracker%'
            $defaultStatus: '%redmine.default.status%'
            $defaultPriority: '%redmine.default.priority%'